body {
    background-color: #fccc;
    color: #673737;
}

div {
    text-align: center;
}

h1, h2, h3 h4 {
    text-align: center;
    font-family: itim, sans-serif;
}

h1 {
    margin: auto;
    display: block;
    background-color: #e6b4b4;
    width: 750px;
    height: 44px;
    border-radius: 5em;
}

p {
    text-align: center;
    font-family: koho, sans-serif;
}

hr {
    border: 3px solid #cc9c9c;
}

a {
    text-decoration: none;
    color: #673737;
    transition: .5s;
}

a:hover {
    color: #b35e5e;
    transition: .5s;
}

.myrimage {
    float: left;
    width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid #673737;
    cursor: pointer;
    transition: 0.25s;
}

.myrimage:hover {
    box-shadow: 4px 4px #a17d7d;
    transform: translate(-0.2em, -0.2em);
    transition: 0.5s;
}

.myrtext {
    text-align: left, justify, center;
    margin: 20px;
    padding-bottom: auto;
}

.art {
    height: 200px;
    width: 200px;
    margin: 20px;
    border: 2px solid #673737;
    cursor: pointer;
    transition: 0.25s;
}

.art:hover {
    box-shadow: 4px 4px #a17d7d;
    transform: translate(-0.2em, -0.2em);
    transition: 0.5s;
}

.links {
    text-align: center;
    font-family: itim, sans-serif;
    background-color: #e6b4b4;
    display: inline-block;
    height: 23px;
    width: 335px;
    border-radius: 1em;
}

.gift {
    width: 150px;
    height: 50px;
    display: inline-block;
}